<!-- app.component.html -->
<ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/products"> Products </a> </li>
    <li><a routerLink="/groups"> Groups </a>
    <li><a routerLink="/groupDetails"> My Groups  </a></li>
    <li><a routerLink="/plans"> Plans </a></li>
    <li><a routerLink="/memberdetails/1"> MemberDetails  </a></li>
    <li style="float:right"><a  href="#about">About</a></li>
    <!--<li style="float:right"><a>Total Groups ( {{ totalGroups }} )</a></li>-->
</ul>

<div class="mainheader-container">
    <div style="text-align:center;">
        <table>
            <tr>
                <td><span class="mainlogo"></span></td>
                <td><span class="mainheader"> {{title}}!!</span></td>
            </tr>
        </table>
    </div>
    <hr class="hline">



    <!--
    <br> &nbsp; &nbsp; || &nbsp; &nbsp;
    <a routerLink="/inventions"> Inventions </a> &nbsp; &nbsp; || &nbsp; &nbsp;<a routerLink="/products"> Products </a> &nbsp;
    &nbsp;|| &nbsp; &nbsp;<a routerLink="/groups"> Groups </a>
    <hr>-->
    <!-- <app-inventions> </app-inventions> -->
    <router-outlet></router-outlet>

</div>