.mainheader {
    font-size: 20px;
    font-family :sans-serif;
    font-weight:bolder ;
    text-align: left;
    vertical-align: bottom;
    display: inline-block;
    color: #1465AB;
    font-variant: small-caps;

}

.mainheader-container {
    padding: 10px;
    margin: 5px;
}
.mainlogo {
    background-image: url(./LogoNew.jpg);
   background-size: contain;
  width: 120px;
  height: 120px;
  border: 0px;
  resize: both;
  align-content: center;
  display: inline-block;
}

.hline { width:100%; height:1px; background: #fff }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.div-home{
display:flex; flex-direction: row; justify-content: left; align-items: left;
}