<div class="invention-creator" style="margin:20px">
  <div class="row">
    <h3>Manage Plans for Member</h3>
  </div>
  <br>
  <div class="row" style="width:20%;margin: 0px">
    <div class="col" style="margin: 0px;padding: 0px;text-align:left">
      <label for="name" class="label-margin-right">Member Name :</label>
    </div>
    <div class="col" style="margin: 0px;padding: 0px">
      <label for="name" class="label-margin-left">{{ workingMember?.memberName }}</label>
    </div>
  </div>
  <div class="row" style="width:20%;margin: 0px">
    <div class="col" style="margin: 0px;padding: 0px;text-align:left">
      <label for="name" class="label-margin-right">Member Age :</label>
    </div>
    <div class="col" style="margin: 0px;padding: 0px">
      <label for="name" class="label-margin-left">{{ workingMember?.memberAge }}</label>
    </div>
  </div>
  <div class="row" style="width:20%;margin: 0px">
    <div class="col" style="margin: 0px;padding: 0px;text-align:left">
      <label for="name" class="label-margin-right">Dental Product :</label>
    </div>
    <div class="col" style="margin: 0px;padding: 0px">
      <label for="name" class="label-margin-left">{{ dentalProductName }}</label>
    </div>
  </div>

  <div class="row" style="width:20%;margin: 0px">
    <div class="col" style="margin: 0px;padding: 0px;text-align:left">
      <label for="name" class="label-margin-right">Vision Product :</label>
    </div>
    <div class="col" style="margin: 0px;padding: 0px">
      <label for="name" class="label-margin-left">{{ visionProductName }}</label>
    </div>
  </div>

</div>
<br>
<app-products [workingMember]="workingMember" [workingGroupId]="workingGroupId" (change)="updateFromChild($event)"></app-products>